<div class="mb-3 w-100 <%= message.role == 'user' ? 'text-end' : 'text-start' %>">

  <div class="chat-bubble <%= message.role %>">

    <% if message.content.present? %>
      <%= simple_format(message.content, {}, wrapper_tag: "span") %>
    <% end %>

    <% if message.attachment.attached? %>
      <div class="mt-2">
        <% if message.image? %>
          <%= image_tag message.attachment, class: "img-fluid rounded" %>
        <% elsif message.audio? %>
          <%= audio_tag message.attachment_url, controls: true %>
        <% else %>
          <%= link_to message.attachment.filename.to_s, message.attachment_url %>
        <% end %>
      </div>
    <% end %>

  </div>

</div>
