<!DOCTYPE html>
<html>
  <head>
    <title>AI Chat App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if notice.present? %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>

<script>
  function scrollToBottom() {
    const box = document.getElementById("messages");
    if (box) box.scrollTop = box.scrollHeight;
  }
</script>
